<head>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<div class="content" role="main">

  <img src="../assets/logo.png">
  <a href="www.google.com">external link</a>
  <h2>Search</h2>

  <form>
    <mat-form-field>
      <input type="text" placeholder="You can search by drug name or by disease" [formControl]="myControl" matInput
        [matAutocomplete]="auto">
        <button *ngIf="myControl" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.reset()">
          <mat-icon>close</mat-icon>
        </button>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div>Showing {{(filteredOptions|async)?.length }} results</div>

  <mat-card *ngFor="let option of filteredOptions | async">
    <mat-card-title>{{option.name}}</mat-card-title>
    <mat-card-subtitle>Diseases: {{option.diseases}}</mat-card-subtitle>
    <span class="released" >{{option.released}}</span>
    <mat-card-content>{{option.description}}</mat-card-content>
  </mat-card>
</div>